<% layout('layouts/boilerplate') %>

<div class="d-flex text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Hello!</h1>
            <p class="lead">
                Originally I was going to add an option to search up players using their Steam ID here including my own
                <br>but decided against that because it felt too intrusive on the players
            </p>
        </main>
    </div>
</div>